/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* common style or utilities*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: ghostwhite;
}
h1, p, button{
    margin: 10px 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 20px;
}
button{
    background-color: green;
    border: 0;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 15px;
    color: white;
}
header{
    padding: 0 5% 5% 5%;
}
main{
    padding: 0 15%;
}
/* navigation */
nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo p{
    color: green;
    font-size: 30px;
    font-weight: 900;
    padding: 0;
}
.menu a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.menu a, .menu .icon{
    padding-left: 20px;
}
.menu .icon{
    color: green;
}
/* banner */
.banner{
    height: 400px;
    background-color: white;
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner img{
    width: 100%;
}
/* company */
.company{
    height: 100px;
    border-bottom: 2.5px solid transparent;
    border-top: 2.5px solid transparent;
    border-image: linear-gradient(0.25turn, ghostwhite, lightgrey, ghostwhite);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-logo{
    width: 100px;
}
.company-logo img{
    width: 100%;
}
/* cards */
.cards-heading{
    text-align: center;
    padding-bottom: 50px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.card{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img{
    width: 100%;
    border-radius: 5px;
    padding-bottom: 20px;
}
.card-price{
    font-size: 25px;
    color: grey;
}
.review-icons{
    display: flex;
    align-items: center;
}
.review-icon{
    color: goldenrod;
    font-size: 15px;
}
.review-icons p{
    padding-left: 20px;
}
.see-more{
    text-align: right;
    font-size: 16px;
    font-weight: 900;
    color: green;
    padding: 20px 0 100px 0;
}
/* blog */
.blog{
    display: flex;
}
.blog img{
    height: 350px;
    border-radius: 10px;
}
.blog-text{
    height: 350px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog-text button{
    font-size: 15px;
    font-weight: 900;
    width: 200px;
    text-align: center;
    color: green;
    border: 3px  solid green;
    background-color: transparent;
}
/* footer */
footer{
    height: 200px;
    color: white;
    background-color: green;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer p{
    font-size: 16px;
    margin: 20px 0;
}
.footer-icon{
    font-size: 30px;
    padding: 0 4px;
}